1. Пусть $X∼F(x)$ — случайная величина с произвольным распределением, неизвестным математическим ожиданием EX и известной дисперсией DX. Как выглядит доверительный интервал для EX с приближённым уровнем доверия 100(1−α)%?

A.         $\bar{X}_{n}\pm z_{1-\frac{\alpha}{2}}\frac{DX}{\sqrt{n}}$ </br>
</br>
B.         $\bar{X}_{n}\pm t_{n-1, 1-\frac{\alpha}{2}}\sqrt{\frac{DX}{n}}$ </br>
</br>
C.         $\bar{X}_{n}\pm z_{1-\frac{\alpha}{2}}{\sqrt\frac{DX}{n}}$ </br>
</br>
D.         $\bar{X}_{n}\pm z_{1-\alpha}\sqrt{\frac{DX}{n}}$ </br>

In [ ]:
# 1. Your answer here
# C

2. Для 61 большого города в Англии и Уэльсе известны средняя годовая смертность на 100000 населения (по данным 1958–1964) и концентрация кальция в питьевой воде (в частях на миллион). Чем выше концентрация кальция, тем жёстче вода. Города дополнительно поделены на северные и южные.

In [1]:
# Load water.txt file
import pandas as pd
import numpy as np
from scipy import stats

In [4]:
data = pd.read_csv("/content/water.txt", sep='\t')
data

   location           town  mortality  hardness
0     South           Bath       1247       105
1     North     Birkenhead       1668        17
2     South     Birmingham       1466         5
3     North      Blackburn       1800        14
4     North      Blackpool       1609        18
..      ...            ...        ...       ...
56    South        Walsall       1527        60
57    South  West Bromwich       1627        53
58    South       West Ham       1486       122
59    South  Wolverhampton       1485        81
60    North           York       1378        71

[61 rows x 4 columns]

Постройте 95% доверительный интервал для средней годовой смертности в больших городах. Чему равна его нижняя граница? Округлите ответ до 4 знаков после десятичной точки. </br>
 </br>
  </br>
   </br>
**Будьте осторожны при использовании метода std()!** Дело в том, что у объекта numpy он по умолчанию вычисляется как
$\sqrt{\frac{1}{n}\sum_{i=1}^n(X_i-\bar{X})}$, а у объекта pandas — как $\sqrt{\frac{1}{n-1}\sum_{i=1}^n(X_i-\bar{X})}$. </br>
 </br>
Интересует только второй вариант, несмещённая оценка стандартного отклонения. </br>
 </br>
Чтобы не думать всё время о том, правильно ли вычисляется в вашем случае std(), можно всегда использовать std(ddof=1) (ddof — difference in degrees of freedom), тогда нормировка всегда будет на n-1.

In [21]:
# 2. Your answer here

def foo(sample, std):

    sample_size = len(sample)
    z = stats.norm.ppf(q=0.975)
    interval = z  * (std / np.sqrt(sample_size))
    conf = (sample.mean() - interval, sample.mean() + interval)
    return conf

foo(data['mortality'],data['mortality'].std(ddof=1))[0]

1477.0525038218827

3. На данных из предыдущего вопроса постройте 95% доверительный интервал для средней годовой смертности по всем южным городам. Чему равна его верхняя граница? Округлите ответ до 4 знаков после десятичной точки.

In [18]:
# 3. Your answer here
interval1 = foo(data[data.location == 'South']["mortality"], data[data.location == 'South']["mortality"].std(ddof=1))
interval1[1]

1430.7244366916086

4. На тех же данных постройте 95% доверительный интервал для средней годовой смертности по всем северным городам. Пересекается ли этот интервал с предыдущим? Как вы думаете, какой из этого можно сделать вывод?

In [20]:
# 4. Your answer here
interval2 = foo(data[data.location == 'North']["mortality"], data[data.location == 'North']["mortality"].std(ddof=1))
interval2

(1588.2335708894593, 1678.9664291105405)

interval1 and interval2 don't have intersection that's mean that the average death rate is higher than in the south

5. Пересекаются ли 95% доверительные интервалы для средней жёсткости воды в северных и южных городах?

A. Пересекаются </br>
B. Не пересекаются 

B

In [25]:
# 5. Your answer here
print(foo(data[data.location == 'North']["hardness"], data[data.location == 'North']["hardness"].std(ddof=1)))

print(foo(data[data.location == 'South']["hardness"], data[data.location == 'South']["hardness"].std(ddof=1)))

(21.741789085882083, 39.058210914117915)
(54.255369325168935, 85.2830922132926)

6. Вспомним формулу доверительного интервала для среднего нормально распределённой случайной величины с дисперсией $\sigma^2$: </br>
$\bar{X}_{n}\pm z_{1-\frac{\alpha}{2}}\frac{\sigma}{\sqrt{n}}$ </br>
При $\sigma = 1$ какой нужен объём выборки, чтобы на уровне доверия 95% оценить среднее с точностью $\pm0.1$?

In [31]:
# 6. Your answer here
z  = stats.norm.ppf(q=0.975)

(z  / 0.1) ** 2

384.14588206941244

n must be integer so it will be 385

7. Объём выборки, необходимый для построения доверительного интервала заданной ширины: </br>
A. увеличивается с уменьшением требуемой ширины, </br>
B. уменьшается с ростом дисперсии выборки, </br>
C. увеличивается с увеличением требуемой ширины, </br>
D. увеличивается с ростом дисперсии выборки, </br>
E. увеличивается с ростом $\alpha$, </br>
F. уменьшается с ростом $\alpha$. </br>

In [ ]:
# 7. Your answer here
# A D F

8. Давайте уточним правило трёх сигм. Утверждение: 99.7% вероятностной массы случайной величины $X∼N(\mu,\sigma^2)$ лежит в интервале $\mu±c⋅\sigma$. Чему равно точное значение константы c? Округлите ответ до четырёх знаков после десятичной точки.

In [34]:
# 8. Your answer here
stats.norm.ppf(q=1-0.003/2)

2.9677379253417944

9. Пусть $X∼N(\mu,\sigma^2)$. Какое распределение имеет величина $\frac{\bar{X}_n - \mu}{S_n/\sqrt{n}}$? </br>
A. $St(n-1)$ </br>
</br>
B. $N(0, 1)$ </br>
</br>
C. $\chi_{n-1}^2$ </br>

In [ ]:
# 9. Your answer here
# A

10. Выберите все распределения с несимметричной функцией плотности: </br>

A. Фишера, </br>
B. Стьюдента, </br>
C. хи-квадрат, </br>
D. Гаусса

In [ ]:
# 10. Your answer here
# A C